In [1]:

import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df

In [3]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans. loc=>
Selects rows and/or columns based on their labels (index or column names).

In [4]:
df.loc[0]

course_name    Data Science
duration                  2
Name: 0, dtype: object

iloc=>
iloc (integer-based):

Selects rows and/or columns based on their positional indices (integer locations).

In [5]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df 
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [6]:
reindex = [3, 0, 1, 2]

new_df = df.reindex(reindex)
print(new_df)

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [7]:
new_df.loc[2]

'''This selects the row with the label 2 (which is now "Big Data") in the reindexed DataFrame.
After reindexing, the labels might not correspond to the original positions.
'''

'This selects the row with the label 2 (which is now "Big Data") in the reindexed DataFrame.\nAfter reindexing, the labels might not correspond to the original positions.\n'

In [8]:
new_df.iloc[2]
#This selects the row at the integer position 2 in the reindexed DataFrame.
#It selects the third row regardless of its label.

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [9]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

(i) mean of each and every column present in the dataframe.

In [10]:
df1.mean()

column_1    0.552090
column_2    0.510743
column_3    0.658411
column_4    0.449147
column_5    0.529742
column_6    0.539463
dtype: float64

(ii) standard deviation of column, ‘column_2’

In [11]:
df1['column_2'].std()

0.2614976358445773

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the 
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [16]:
try:
    new_value = "New String Value"  # Replace with your desired string
    df1.loc[1, 'column_2'] = new_value
    print("Data replaced in the second row of 'column_2'.")
except IndexError:
    print("Error: There are less than two rows in the DataFrame.")

# Calculate the mean of 'column_2' (after replacement, if successful)
try:
    mean_column_2 = df1['column_2'].mean()
    print("Mean of 'column_2':", mean_column_2)
except:  # Catch any potential errors (e.g., non-numeric data)
    print("Error: Unable to calculate mean due to data type or other issues.")

Data replaced in the second row of 'column_2'.
Error: Unable to calculate mean due to data type or other issues.

Q6. What do you understand about the windows function in pandas and list the types of windows 
functions?

Ans. In pandas, window functions are powerful tools that allow you to perform calculations on sets of rows within a DataFrame based on a specified window. They enable you to analyze trends, moving averages, and other aggregations over a sliding or expanding window of data.

Types of Window Functions in pandas:
Rolling Window
Expanding Window

Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [17]:
import datetime
now = datetime.datetime.now()
month_name = now.strftime("%B")
year = now.strftime("%Y")
print(f"Current Month: {month_name}, Year: {year}")

Current Month: May, Year: 2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and 
calculates the difference between them in days, hours, and minutes using Pandas time delta. The 
program should prompt the user to enter the dates and display the result.

In [18]:
import pandas as pd

def calculate_date_difference():
  """
  This function prompts the user for two dates, calculates the difference in days, hours, and minutes using pandas timedelta, and displays the results.
  """
  try:
    # Prompt user for dates
    date1_str = input("Enter the first date (YYYY-MM-DD): ")
    date2_str = input("Enter the second date (YYYY-MM-DD): ")

    # Convert strings to datetime objects
    date1 = pd.to_datetime(date1_str)
    date2 = pd.to_datetime(date2_str)

    # Calculate the time delta
    time_delta = date2 - date1

    # Extract days, hours, and minutes from the time delta
    days = time_delta.days
    hours = time_delta.seconds // 3600
    minutes = (time_delta.seconds % 3600) // 60

    # Print the results
    print(f"Difference between dates:")
    print(f"Days: {days}")
    print(f"Hours: {hours}")
    print(f"Minutes: {minutes}")

  except ValueError:
    print("Invalid date format. Please enter dates in YYYY-MM-DD format.")
calculate_date_difference()

Enter the first date (YYYY-MM-DD):  2002-02-24
Enter the second date (YYYY-MM-DD):  2002-02-26

Difference between dates:
Days: 2
Hours: 0
Minutes: 0

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified 
column to a categorical data type. The program should prompt the user to enter the file path, column 
name, and category order, and then display the sorted data

In [1]:
import pandas as pd

def convert_to_categorical(file_path, column_name, categories):
  """
  This function reads a CSV file, converts a specified column to categorical data type with a given order, and displays the sorted data.
  """
  try:
    # Read the CSV file
    df = pd.read_csv('IPL2023_Batsman.csv')

    # Convert the specified column to categorical data type with custom order
    df[column_name] = df[column_name].astype('category').cat.reorder_categories(categories)

    # Sort the DataFrame by the categorical column
    df = df.sort_values(by=column_name)

    # Print the sorted DataFrame
    print("Sorted data with", column_name, "as categorical:")
    print(df)

  except FileNotFoundError:
    print(f"Error: File not found at {file_path}")
  except KeyError:
    print(f"Error: Column '{column_name}' not found in the file.")
  except ValueError:
    print("Error: Invalid category order. Please provide a list of categories.")

# Get user input
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert: ")
category_order_str = input("Enter the category order (comma-separated): ")

# Convert string to list of categories
categories = category_order_str.split(",")

# Call the function
convert_to_categorical(file_path, column_name, categories)

Enter the CSV file path:  IPL2023_Batsman.csv
Enter the column name to convert:  out_by
Enter the category order (comma-separated):  Name

Error: Invalid category order. Please provide a list of categories.

Q10. Write a Python program that reads a CSV file containing sales data for different products and 
visualizes the data using a stacked bar chart to show the sales of each product category over time. The 
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def visualize_sales_by_category(file_path):
  """
  This function reads a CSV file containing sales data, optionally categorizes products, and displays a stacked bar chart showing sales of each category over time.
  """
  try:
    # Read the CSV file
    df = pd.read_csv(file_path)

    # Check if 'Product' and 'Date' columns exist
    if 'Product' not in df.columns or 'Date' not in df.columns:
        print("Error: 'Product' and 'Date' columns are required in the CSV.")
        return

    # Optional: Create a 'Product Category' column based on a custom function (replace with your logic)
    def categorize_product(product_name):
        # Example: Categorize by first letter
        return product_name[0]

    df['Product Category'] = df['Product'].apply(categorize_product)  # Optional

    # Optional: Convert 'Date' to datetime format (customize based on your date format)
    try:
        df['Date'] = pd.to_datetime(df['Date'])
    except ValueError:
        print("Warning: 'Date' column format might be invalid. Consider converting it to datetime format for better time-based visualization.")

    # Group by product category and date (month in this example), sum sales
    df_grouped = df.groupby(['Product Category', df['Date'].dt.month])['Sales'].sum().unstack()

    # Create the stacked bar chart
    df_grouped.plot(kind='bar', stacked=True, colormap='Set3')
    plt.xlabel('Month')
    plt.ylabel('Total Sales')
    plt.title('Sales by Product Category (Monthly)')
    plt.legend(title='Product Category')
    plt.xticks(rotation=0)  # Rotate x-axis labels for better readability
    plt.tight_layout()
    plt.show()

  except FileNotFoundError:
    print(f"Error: File not found at {file_path}")

# Get user input
file_path = input("Enter the CSV file path containing sales data: ")

# Call the function
visualize_sales_by_category(file_path)

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write 
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and 
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv


+-----------+--------+

| Statistic | Value  |

+-----------+--------+

| Mean      | 79.6   |

| Median    | 82     |

| Mode      | 85, 90 |

+-----------+--------+


Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85


The program should calculate the mean, median, and mode of the test scores and display the results 
in a tabl

In [ ]:
import pandas as pd

def calculate_and_display_statistics(file_path):
  """
  This function reads a CSV file containing student data, calculates the mean, median, and mode of the test scores,
  and displays the results in a table.
  """
  try:
    # Read the CSV file
    df = pd.read_csv(file_path)

    # Check if 'Test Score' column exists
    if 'Test Score' not in df.columns:
        print("Error: 'Test Score' column is required in the CSV.")
        return

    # Calculate statistics
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_score = df['Test Score'].mode().tolist()  # Convert mode to list

    # Create a DataFrame for the table
    stats_df = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, ', '.join(map(str, mode_score))]  # Join mode values with comma and space
    })

    # Display the table
    print("+-----------+--------+")
    print("| Statistic | Value  |")
    print("+-----------+--------+")
    print(stats_df.to_string(index=False))
    print("+-----------+--------+")

  except FileNotFoundError:
    print(f"Error: File not found at {file_path}")

# Get user input
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Call the function
calculate_and_display_statistics(file_path)